@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/mesa.png);
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
}

header h1 {
    position: relative;
    margin: 0;
    font-family: "BBH Hegarty", sans-serif;
    letter-spacing: 5px;
    font-size: 4rem;
    font-weight: bold;
    color: #080325;
    padding: 1rem 3rem;
    border: 4px solid black;
    border-radius: 20px;
    background-color: #b89d7d8e;
    z-index: 5;
    pointer-events: none;
}

header p {
    margin: 0 0 0 1rem;
    padding-top: 3rem;
    pointer-events: none;
}

header img.animated {
    position: absolute;
    right: -400px;
    bottom: -200px;
    width: 65rem;
    height: 55rem;
    pointer-events: none;
    z-index: 2;
    animation: entrar 1.2s ease-out forwards;
}

.contenido {
    margin-left: 9rem;
    margin-top: 5rem;
    font-size: 2rem;
}

.botones {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.btn {
    font-family: "BBH Hegarty", sans-serif;
    text-decoration: none;
    color: black;
    background-color: #f2eae1ae;
    padding: 1rem 3rem;
    border: 4px solid black;
    border-radius: 21px;
    font-size: 1.4rem;
    width: fit-content;
    transition: all 0.25% ease;
}

@keyframes entrar {
    0% {
        right: -500px;
        opacity: 0;
    }
    100% {
        right: -50px;
        opacity: 1;
    }
}

body {
    background-color: #fffff8;
    overflow-x: hidden;
}