@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background-color: #f8f5f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-image: url(/img/cocinaProf.webp);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
    padding: 5rem 2.5rem;
    margin: 5rem auto;
    text-align: center;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: #fd8d688e;
    border: 5px #fb8b66;
    border-radius: 24px;
    height: 15%;
    width: 90%;
}

header h1 {
    font-family: "BBH Hegarty", sans-serif;
    letter-spacing: 4px;
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

#inicio-pagina {
    position: relative;
    padding: 2rem 10rem;
    color: #fff;
    background-color: #00000075;
    border: 4px #00000075;
    border-radius: 10px;
    align-items: center;
    margin: 4rem auto;
    max-width: 800px;
    text-align: center;
}

#inicio-pagina h2{
    font-family: "Libre Baskerville", serif;
    font-size: 2.5rem;
}

#historia {
    position: relative;
    padding: 2rem 15rem;
    color: #fff;
    background-color: #00000075;
    border: 4px #00000075;
    border-radius: 10px;
    align-items: center;
    margin: 4rem auto;
    max-width: 800px;
    text-align: center;
}

#historia h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
}

#historia p {
    font-size: 20px;
}

footer {
    color: #fff;
    background-color: #20100b;
    font-size: 15px;
    padding: 2.5rem 0 1rem 2rem;
}

.Contactos {
    color: #fff;
    font-weight: bold;
    padding-left: 2rem;
}